.rpicam-device .rpicam-preview-thumb {
 max-width: 100%;
}

.rpicam-device .preview-info span{
  position: relative;
  top: -11px;
  right: 10px;
}

#rpicam-full-previce-img {
  width: 100%;
  max-width: 512px;
  margin:0px auto;
}

.rpicam-crontrols, .rpicam-full-previw {
  width: 100%;
  text-align: center;
}

.rpicam-device>label.device-label {
  display: none;
}

li.sortable.device.no-header.rpicam-device.item.ui-li-static.ui-body-inherit {
  overflow: hidden;
}

.rpicam-device>label.device-label {
  display: none;
}

.rpicam-device span {
  display: none;
}
